<style>
  /* Responsive adjustments */
  @media (max-width: 992px) {
    .table-responsive {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    
    table {
      width: 100%;
      margin-bottom: 1rem;
      display: block;
    }
    
    thead {
      display: none;
    }
    
    tbody {
      display: block;
      width: 100%;
    }
    
    tr {
      display: block;
      margin-bottom: 1rem;
      border: 1px solid #dee2e6;
      border-radius: 5px;
    }
    
    td {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem;
      text-align: right !important;
      border-bottom: 1px solid #dee2e6;
    }
    
    td::before {
      content: attr(data-label);
      font-weight: bold;
      padding-right: 1rem;
      text-align: left;
      color: rgb(228, 178, 117);
    }
    
    td:last-child {
      border-bottom: 0;
    }
    
    .btn-sm {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
    }
  }

  @media (max-width: 768px) {
    .col-md-10 {
      padding: 1rem !important;
    }
    
    td {
      flex-direction: column;
      align-items: flex-start;
      text-align: left !important;
    }
    
    td::before {
      margin-bottom: 0.5rem;
    }
    
    .btn {
      width: 100%;
      margin-top: 5rem;
    }
    
    .pagination-container .page-link {
      padding: 0.5rem 0.75rem;
      font-size: 0.875rem;
    }
  }

  @media (max-width: 576px) {
    h4 {
      font-size: 1.25rem;
    }
    
    .pagination {
      justify-content: center;
    }
    
    .page-item {
      margin: 2px;
    }
    
    .page-link {
      padding: 0.35rem 0.5rem;
      font-size: 0.8rem;
    }
  }
</style>

<div class="col-md-10 p-4">
  <h4 class="my-3" style="color: rgb(228, 178, 117);">Offers</h4>
  <div class="d-flex justify-content-between align-items-center mb-4 pt-5">

    <!-- Pagination Buttons -->
<div class="pagination-container">
  <nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
      <!-- Previous Page Link -->
      {{#if prevPage}}
        <li class="page-item">
          <a class="page-link" href="/admin/products?page={{prevPage}}" 
            style="background: linear-gradient(to top left, rgb(228, 178, 117), rgb(255, 224, 178)); color:white">
            &laquo; Previous
          </a>
        </li>
      {{else}}
        <li class="page-item disabled">
          <span class="page-link" style="background: linear-gradient(to top left, rgb(228, 178, 117), rgb(255, 224, 178));">
            &laquo; Previous
          </span>
        </li>
      {{/if}}

      <!-- Page Numbers -->
      {{#each pages}}
        <li class="page-item {{#ifEquals this ../currentPage}}active{{/ifEquals}}">
          <a class="page-link" href="/admin/products?page={{this}}" 
            style="background-color: {{#ifEquals this ../currentPage}}rgb(228, 178, 117){{else}}transparent{{/ifEquals}}; 
                   color: {{#ifEquals this ../currentPage}}white{{else}}black{{/ifEquals}}; 
                   border: 2px solid {{#ifEquals this ../currentPage}}rgb(255, 224, 178){{else}}transparent{{/ifEquals}};">
            {{this}}
          </a>
        </li>
      {{/each}}

      <!-- Next Page Link -->
      {{#if nextPage}}
        <li class="page-item">
          <a class="page-link" href="/admin/products?page={{nextPage}}" 
            style="background: linear-gradient(to top left, rgb(228, 178, 117), rgb(255, 224, 178)); color:white">
            Next &raquo;
          </a>
        </li>
      {{else}}
        <li class="page-item disabled">
          <span class="page-link" style="background: linear-gradient(to top left, rgb(228, 178, 117), rgb(255, 224, 178));">
            Next &raquo;
          </span>
        </li>
      {{/if}}
    </ul>
  </nav>
</div>


    <!-- Add offers Button -->
    <div>
      <button class="btn" style="background: linear-gradient(to top left, rgb(228, 178, 117), rgb(255, 224, 178)); color:white" onclick="window.location.href='/admin/add-offers';">Add Offers</button>
    </div>
  </div>
  
  <!-- Table -->
  <div class="table-responsive pt-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" style="background-color: rgb(228, 178, 117); color:white">Offer Name</th>
          <th class="text-center" style="background-color: rgb(228, 178, 117); color:white">Applicable To</th>
          <th class="text-center" style="background-color: rgb(228, 178, 117); color:white">Discount Type</th>
          <th class="text-center" style="background-color: rgb(228, 178, 117); color:white">Discount value</th>
          <th class="text-center" style="background-color: rgb(228, 178, 117); color:white">Expiry At</th>
          <th class="text-center" style="background-color: rgb(228, 178, 117); color:white">Active</th>
          
          <th class="text-center" style="background-color: rgb(228, 178, 117); color:white"></th>
          <th class="text-center" style="background-color: rgb(228, 178, 117); color:white"></th>
        </tr>
      </thead>
      <tbody>
        {{#each offers}}
            <tr>
              <td class="text-center" style="text-align: center; vertical-align: middle;">{{this.name}}</td>
              <td class="text-center" style="text-align: center; vertical-align: middle;">{{this.applicableTo}}</td>
              <td class="text-center" style="text-align: center; vertical-align: middle;">{{this.discountType}}</td>
               <td class="text-center" style="text-align: center; vertical-align: middle;">
              {{formatDiscount this.discountType this.discountValue}} 
            </td>
              <td class="text-center" style="text-align: center; vertical-align: middle;">{{formatDate this.endDate}}</td>
              <td class="text-center" style="text-align: center; vertical-align: middle;">{{#if this.isActive}}Active{{else}}Expired{{/if}}</td>
              
              <td style="text-align: center; vertical-align: middle;">
                <a href="/admin/edit-offer/{{this._id}}" class="btn" style="background: linear-gradient(to top left, rgb(102, 204, 102), rgb(51, 153, 51)); color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;" aria-label="Edit offer">
    Edit
</a>
              </td>
              <td style="text-align: center; vertical-align: middle;">
                

<button type="button" onclick="deleteOffer('{{this._id}}')" class="btn" style="background: linear-gradient(to top left, rgb(255, 99, 99), rgb(255, 204, 204)); color: white;">
  Delete
</button>
              </td>
            </tr>
            {{/each}}
      </tbody>
    </table>
  </div>
</div>


<script>
  async function deleteOffer(offerId) {
  const result = await Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#3085d6',
    confirmButtonText: 'Yes, delete it!'
  });

  if (result.isConfirmed) {
    try {
      const response = await fetch('/admin/offers', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id: offerId })
      });

      const data = await response.json(); // Always parse JSON first

      if (!response.ok) {
        throw new Error(data.message || 'Failed to delete offer');
      }

      await Swal.fire(
        'Deleted!',
        data.message || 'Your offer has been deleted.',
        'success'
      );
      window.location.reload();
      
    } catch (error) {
      Swal.fire(
        'Error!',
        error.message || 'Something went wrong',
        'error'
      );
    }
  }
}
</script>
