    <div class="col-md-10 p-4">
      <h4 class="my-3" style="color: rgb(228, 178, 117);">Products</h4>
      <div class="d-flex justify-content-between align-items-center mb-4 pt-5">
        <div>
          <input type="text" class="form-control me-3" style="width: 300px; display: inline-block;" placeholder="Search Products" />
        </div>
        <div>
          <button class="btn" style="background-color: rgb(228, 178, 117); color:white" onclick="window.location.href='/admin/add-product';">Add Product</button>
        </div>
      </div>
      <div class="table-responsive pt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">Product</th>
              <th class="text-center">Product Name</th>
              <th class="text-center">Category</th>
              <th class="text-center">Price</th>
              <th class="text-center">Piece</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
               <td class="text-center">
  {{#if this.images}}
    {{#each this.images}}
      {{#if @first}}
        <img src="{{this}}" class="card-img-top" alt="..." style="width: 100px; height:auto">
      {{/if}}
    {{/each}}
  {{else}}
    <img src="/images/upload_area.png" class="card-img-top" alt="..." style="width: 100px; height:auto">
  {{/if}}
</td>
              <td class="text-center">{{this.name}}</td>
              <td class="text-center">{{this.category}}</td>
              <td class="text-center">{{this.price}}</td>
              <td class="text-center">{{this.piece}}</td>
              <td class="text-center">
            <a href="/admin/edit-product/{{_id}}" class="btn btn-sm" style="background-color:rgb(192, 108, 108);color:white">Edit</a>
            <form action="/admin/delete/{{_id}}" method="POST" style="display:inline;">
            <button class="btn btn-sm" style="background-color: rgb(161, 221, 161); color:white">Delete</button>
          </form>
          </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>